.Result {
  width: 100%;
  padding: 25px 0 35px 0;
  background-color: #FFF;
  display: flex;
  justify-content: flex-end;
}

.Result-bold {
  font-weight: 800;
  font-size: 18px;
}

.Result-bold:first-of-type {
  padding-left: 70%;
  padding-right: 35px;
}

.Result-bold:first-of-type {
  padding-left: 70%;
  padding-right: 35px;
}

.Result-bold:nth-of-type(2) {
  margin-right: 100px;
}