.Result {
  width: 100%;
  padding: 25px 0 35px 0;
  background-color: #FFF;
}

.Result-bold {
  font-weight: 800;
  font-size: 18px;
}

.Result-bold:first-of-type {
  padding-left: 70%;
  padding-right: 35px;
}